<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>㈜신우시스템</title>
</head>
<body>
<div th:replace="layouts/header :: header"></div>

<div class="login-wrap">
    <div class="login-container">
        <h2>로그인</h2>
        <form action="/loginprocess" method="post">
            <label for="username">아이디:</label>
            <input type="text" id="username" name="username" required>
    
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
    
            <input type="submit" name="action" value="로그인">
            <br>
        <!-- 구글 로그인 -->
        <a href="/oauth2/authorization/google" class="google_login">
			<img src="/images/web_light_sq_SU@2x.png" alt="구글 로그인" style="width: 150px; height: 40px;">
        </a>

        <!-- 네이버 로그인 -->
        <a href="/oauth2/authorization/naver" class="naver_login">
            <img src="/images/btnG_완성형.png" alt="네이버 로그인" style="width: 150px; height: 40px;">
        </a>

        <!-- 카카오 로그인 -->
        <a href="/oauth2/authorization/kakao" class="kakao_login">
            <img src="/images/kakao_login_medium_narrow.png" alt="카카오 로그인">
        </a>

        <div class="link">
            <a href="sign_up" class="signup-button">회원가입</a>
        </div>        
        </form>
        <br>
	</div>     
  <div th:replace="layouts/footer :: footer"></div>

</div>
</body>
</html>
