<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>(주)신우시스템</title>
    <link href="css/board-detail.css" rel="stylesheet">
</head>
<body>
    <br><br>
    <div class="board_main">
        <br>
        <strong>공지사항</strong>
        <br><br><br>
        <p>정밀 가공, 완벽한 결과!</p>
        <br>
        <h1 th:text="${board.title}"></h1>
	    <p>작성자: <span th:text="${board.writer}"></span></p>
	    <p>내용: <span th:text="${board.content}"></span></p>
    </div>
    
    <div class="board_list_button">
        <a href="/board-list">목록</a>
    </div>
<!--    <span th:text="${title}"></span>-->
<!--    <span th:text="${writer}"></span>-->
<!--    <span th:text="${content}"></span>-->
</body>
</html>