<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>(주)신우시스템</title>
    <link href="css/board-update.css" rel="stylesheet">
</head>
<body>
    <div class="board_main">
        <br>
        <strong>공지사항</strong>
        <br><br><br>
        <p>정밀 가공, 완벽한 결과!</p>
    </div>
    <form action="#" th:action="@{/board-update}" method="post">
    	<input type="hidden" th:value="${board.id}" name="id" />
        제목: <input type="text" th:value="${board.title}" name="title" />
        작성자: <input type="text" th:value="${board.writer}" name="writer" />
        내용: <br><textarea name="content" th:text="${board.content}"></textarea>
        <br>
        <button type="submit">수정하기</button>
    </form>
    <div class="board_list_button">
        <a href="/board-list">목록</a>
    </div>
<!--<br><br>-->
<!--<h2>게시글 수정</h2>-->
<!--<form th:action="@{/board/update}" method="post">-->
<!--    <input type="hidden" name="id" th:value="${post.id}"/>-->
<!--    <label for="title">제목:</label>-->
<!--    <input type="text" id="title" name="title" th:value="${post.title}"/><br/>-->

<!--    <label for="content">내용:</label>-->
<!--    <textarea id="content" name="content" th:text="${post.content}"></textarea><br/>-->

<!--    <button type="submit">수정</button>-->
<!--</form>-->
</body>
</html>