@charset "UTF-8";
.footer{
    background-color: rgb(247, 79, 105); 
    padding-left: 100px;
}

.footer .footer-wrapper{
    width: 1100px;
    height: 400px;
}

.footer .footer-upper{
    width: 1100px;
    /* height: 100px; */
    padding-bottom: 15px;
}

.footer .footer-lower{
    color: white;
    font-family: pretendard-Regular;
    border-top: 1px solid #ffffffa1;
    /* border-top: 탑 바텀을 나누는 흰실선.*/
    padding-top: 5%; 
    /* display: flex; */
    width: 100%;
}


.footer .footer-lower .info{
    /* color: black; */
    /* font-weight: 600; */
}

.footer .footer-lower .info > span{
    font-weight: 700;
    /* font-size: large; */
    /* color: green; */
}

.footer .footer-lower .address{
    /* color: brown; */
    /* font-weight:700; */
    /* font-size: 16px; */
}

.footer .footer-lower .address > span{
    /* color: blue; */
    font-weight: 700;
    /* font-size: 16; */
    /* margin-left: 10px; */
}

.footer .footer-lower .inquire{
    /* color: yellow; */
    /* font-weight: 700; */
    /* height: 10; */
    /* margin-top: 10px; */
}

.footer .footer-lower .inquire > span{
    /* color: purple; */
    font-weight: 700;
    /* font-size: 16px; */
}

.footer .footer-lower .copyright{
    /* padding-top: 10px; */
    font-size: 0.9em;
    height: 16;
    width: 100%;
    font-weight: 600;
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


/* @media {
    
} */