<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>shinwoosystem</title>
</head>
<body>
<br><br>
게시글 목록보기
<br><br>
<a href="/board-insert">게시글 작성하기</a>
<br><br>
<ul>
    <li>
        <a href="/board/1"><span th:text="${title}"></span></a>
        <a href="/board-update/1">수정</a>
        <form action="/board-delete/1" method="post" style="display:inline;">
            <button type="submit">삭제</button>
        </form>
    </li>
</ul>
<!--<ul>-->
<!--    <li th:each="title, iterStat : ${titles}">-->
<!--        <span th:text="${title}"></span>-->
<!--        <a th:href="@{/board/update/{id}(id=${iterStat.index})}">수정</a>-->
<!--        <form th:action="@{/board/delete/{id}(id=${iterStat.index})}" method="post" style="display:inline;">-->
<!--            <button type="submit">삭제</button>-->
<!--        </form>-->
<!--    </li>-->
<!--</ul>-->
</body>
</html>